<!DOCTYPE html>
<html>
  <head>
    <title><%= productName %></title>

    <meta charset="utf-8" />
    <meta name="description" content="<%= productDescription %>" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="msapplication-tap-highlight" content="no" />
    <meta
      name="viewport"
      content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>"
    />

    <link
      rel="icon"
      type="image/png"
      sizes="128x128"
      href="icons/icon-128x128.png"
    />
    <link rel="icon" type="image/ico" href="icon.ico" />

    <meta property="og:title" content="<%= productDescription %>" />
    <meta property="og:url" content="https://d-pastillero.web.app" />
    <meta
      property="og:image"
      content="https://d-pastillero.web.app/icons/icon-128x128.png"
    />
    <meta
      property="og:description"
      content="Controla tus medicamentos y recordatorios de dosis."
    />
  </head>

  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
